---
page_title: "pdnd_agreements Data Source - PDND"
description: |-
  Lists PDND agreements with optional filters.
---

# pdnd_agreements (Data Source)

Lists PDND agreements with optional filters by state, producer, consumer, e-service, or descriptor.

## Example Usage

{{ tffile "examples/data-sources/pdnd_agreements/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
