---
page_title: "pdnd_agreement Data Source - PDND"
description: |-
  Fetches a single PDND agreement by ID.
---

# pdnd_agreement (Data Source)

Fetches a single PDND agreement by its UUID.

## Example Usage

{{ tffile "examples/data-sources/pdnd_agreement/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
