---
page_title: "pdnd_agreement_purposes Data Source - PDND"
description: |-
  Lists purposes associated with a PDND agreement.
---

# pdnd_agreement_purposes (Data Source)

Lists purposes associated with a PDND agreement.

## Example Usage

{{ tffile "examples/data-sources/pdnd_agreement_purposes/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
