---
page_title: "pdnd_certified_attribute Data Source - PDND"
description: |-
  Fetches a single PDND certified attribute by ID.
---

# pdnd_certified_attribute (Data Source)

Fetches a single PDND certified attribute by its UUID.

## Example Usage

{{ tffile "examples/data-sources/pdnd_certified_attribute/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
