---
page_title: "pdnd_certified_attributes Data Source - PDND"
description: |-
  Lists PDND certified attributes with optional name filter.
---

# pdnd_certified_attributes (Data Source)

Lists PDND certified attributes with optional name filter.

## Example Usage

{{ tffile "examples/data-sources/pdnd_certified_attributes/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
