---
page_title: "pdnd_clients Data Source - PDND"
description: |-
  Lists PDND clients with optional filters.
---

# pdnd_clients (Data Source)

Lists PDND clients with optional name and consumer ID filters.

## Example Usage

{{ tffile "examples/data-sources/pdnd_clients/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
