---
page_title: "pdnd_client_keys Data Source - PDND"
description: |-
  Lists public keys for a PDND client.
---

# pdnd_client_keys (Data Source)

Lists all public keys (JWKs) associated with a PDND client.

## Example Usage

{{ tffile "examples/data-sources/pdnd_client_keys/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
