---
page_title: "pdnd_client Data Source - PDND"
description: |-
  Fetches a single PDND client by ID.
---

# pdnd_client (Data Source)

Fetches a single PDND client by its UUID.

## Example Usage

{{ tffile "examples/data-sources/pdnd_client/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
