---
page_title: "pdnd_consumer_delegation Data Source - PDND"
description: |-
  Fetches a single PDND consumer delegation by ID.
---

# pdnd_consumer_delegation (Data Source)

Fetches a single PDND consumer delegation by its UUID.

## Example Usage

{{ tffile "examples/data-sources/pdnd_consumer_delegation/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
