---
page_title: "pdnd_consumer_delegations Data Source - PDND"
description: |-
  Lists PDND consumer delegations with optional filters.
---

# pdnd_consumer_delegations (Data Source)

Lists PDND consumer delegations with optional filters.

## Example Usage

{{ tffile "examples/data-sources/pdnd_consumer_delegations/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
