---
page_title: "pdnd_declared_attribute Data Source - PDND"
description: |-
  Fetches a single PDND declared attribute by ID.
---

# pdnd_declared_attribute (Data Source)

Fetches a single PDND declared attribute by its UUID.

## Example Usage

{{ tffile "examples/data-sources/pdnd_declared_attribute/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
