---
page_title: "pdnd_eservice Data Source - PDND"
description: |-
  Fetches a single PDND e-service by ID.
---

# pdnd_eservice (Data Source)

Fetches a single PDND e-service by its UUID.

## Example Usage

{{ tffile "examples/data-sources/pdnd_eservice/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
