---
page_title: "pdnd_eservices Data Source - PDND"
description: |-
  Lists PDND e-services with optional filters.
---

# pdnd_eservices (Data Source)

Lists PDND e-services with optional filters by name, producer, technology, or state.

## Example Usage

{{ tffile "examples/data-sources/pdnd_eservices/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
