---
page_title: "pdnd_eservice_descriptors Data Source - PDND"
description: |-
  Lists descriptors for a PDND e-service.
---

# pdnd_eservice_descriptors (Data Source)

Lists descriptors for a PDND e-service.

## Example Usage

{{ tffile "examples/data-sources/pdnd_eservice_descriptors/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
