---
page_title: "pdnd_eservice_descriptor Data Source - PDND"
description: |-
  Fetches a single PDND e-service descriptor by ID.
---

# pdnd_eservice_descriptor (Data Source)

Fetches a single PDND e-service descriptor by its UUID.

## Example Usage

{{ tffile "examples/data-sources/pdnd_eservice_descriptor/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
