---
page_title: "pdnd_producer_delegations Data Source - PDND"
description: |-
  Lists PDND producer delegations with optional filters.
---

# pdnd_producer_delegations (Data Source)

Lists PDND producer delegations with optional filters.

## Example Usage

{{ tffile "examples/data-sources/pdnd_producer_delegations/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
