---
page_title: "pdnd_producer_delegation Data Source - PDND"
description: |-
  Fetches a single PDND producer delegation by ID.
---

# pdnd_producer_delegation (Data Source)

Fetches a single PDND producer delegation by its UUID.

## Example Usage

{{ tffile "examples/data-sources/pdnd_producer_delegation/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
