---
page_title: "pdnd_purposes Data Source - PDND"
description: |-
  Lists PDND purposes with optional filters.
---

# pdnd_purposes (Data Source)

Lists PDND purposes with optional filters by e-service IDs, title, consumer IDs, and states.

## Example Usage

{{ tffile "examples/data-sources/pdnd_purposes/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
