---
page_title: "pdnd_purpose Data Source - PDND"
description: |-
  Fetches a single PDND purpose by ID.
---

# pdnd_purpose (Data Source)

Fetches a single PDND purpose by its UUID.

## Example Usage

{{ tffile "examples/data-sources/pdnd_purpose/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
