---
page_title: "pdnd_tenants Data Source - PDND"
description: |-
  Lists PDND tenants with optional filters.
---

# pdnd_tenants (Data Source)

Lists PDND tenants with optional IPA code and tax code filters.

## Example Usage

{{ tffile "examples/data-sources/pdnd_tenants/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
