---
page_title: "pdnd_tenant Data Source - PDND"
description: |-
  Fetches a single PDND tenant by ID.
---

# pdnd_tenant (Data Source)

Fetches a single PDND tenant by its UUID.

## Example Usage

{{ tffile "examples/data-sources/pdnd_tenant/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
