---
page_title: "pdnd_verified_attribute Data Source - PDND"
description: |-
  Fetches a single PDND verified attribute by ID.
---

# pdnd_verified_attribute (Data Source)

Fetches a single PDND verified attribute by its UUID.

## Example Usage

{{ tffile "examples/data-sources/pdnd_verified_attribute/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
